<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HOME PAGE <%= 'hello world'.toUpperCase() %></h1>
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, ratione sapiente doloremque fugiat nulla aperiam tempora suscipit enim error nobis repellat minus commodi, sunt neque deserunt saepe amet quos a. Lorem ipsum dolor sit amet consectetur adipisicing elit. A ex earum provident cumque dicta nulla aliquid quae illo qui, voluptatem odio possimus deserunt assumenda beatae nostrum, molestias quasi, non sed.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, ratione sapiente doloremque fugiat nulla aperiam tempora suscipit enim error nobis repellat minus commodi, sunt neque deserunt saepe amet quos a. Lorem ipsum dolor sit amet consectetur adipisicing elit. A ex earum provident cumque dicta nulla aliquid quae illo qui, voluptatem odio possimus deserunt assumenda beatae nostrum, molestias quasi, non sed.</p>
</body>
</html>