<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>Your random number is <%= num %></h1>
    <h2>Your number is <%= num % 2 === 0 ? 'EVEN' : 'ODD' %></h2>
    <% if (num % 5 === 0) { %>
        <h3>Your number is divisible by five!</h3>
    <% } else { %>
        <h3>Your number is not divisible by five</h3>
    <% } %>
</body>
</html>